<!-- <% 
users.forEach(function(user){ %>
  <p><%= user.username %> </p>  
  <p><%= user.fullname %> </p>
<%})%> -->

<html>
  <head>
    <title>The list of people with BIG hearts</title>
  </head>

    <%
    users.forEach(function(user){ %>
    <% if(user.role === "user"){ %>
      <div class="profile">
          <div class="pic-box"><img src="<%= user.imageUrl %>" height="50" width="50"></div>
          <p><b>Username:</b> <%= user.username %> </p>
          <p><b>Fullname:</b> <%= user.fullname %> </p>
          <p><b>Age:</b> <%= user.age %> </p>
          <p><b>Availability:</b> <%= user.availability %> </p>
          <p><b>email:</b> <%= user.email %> </p>
          <p><b>Phone:</b> <%= user.phone %> </p>
      
      </div>
      <%}%>
    <%})%>
  <body>
</body>
</html>